{
    "auth0_tenant": "...",
	"frontend_url": "http://littil-frontend:80",

    "user_school1_password": "...",
    "user_school1_username": "...",

    "user_school2_password": "...",
    "user_school2_username": "...",

    "user_docent1_password": "...",
    "user_docent1_username": "...",

    "user_docent2_password": "...",
    "user_docent2_username": "..."
}